.footer {
    background: tomato;
    color: white;
    height: 350px;
    position: relative;
}
.footer-content{
    display: flex;

}
.footer-section{
    flex: 1;
    padding: 30px;
}
.footer-bottom{
    background: white;
    color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    
}